.container{
    display: flex;
    align-items: flex-start;
    min-height: 1000px;
    width: 100%;
}
.container .img{
    width: 300px;
    height: 250px;
    padding: 15px 25px;
    background-color: #fff;
    border: 2px dashed var(--main-blue);
    border-radius: 50px;
    margin: 10px;
    margin-right: 50px;
}

.information{
    width: 100%;
    border: 2px dashed #e2e2e2;
    margin: 10px;
    padding: 25px;
    border-radius: 50px;
}
.information h3{
    color: var(--main-blue);
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.desc{
    color: grey;
    width: 500px;
    font-size: 1.1rem;
    margin-bottom: 40px;
}


.information div{
    display: flex;
    justify-content: space-between;
}

.price{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--main-blue);
}
.information a{
    display: flex;
    align-items: center;
    background-color: var(--main-blue);
    padding: 5px 10px;
    color: #fff;
    border-radius: 12px;
}
 .information a svg{
    margin-right: 10px;
 }

 